

.sign { background-color: blue;
     text-decoration-color: none;
      font-weight: bold;
      margin: 0px 25px 0px 0px;
      
    }
 
.all {font-size: 13px}
    
    
 .tl ul { 
    list-style-type: none;
    margin: 10px;
    padding: 7px 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.034);
  }
  
 .tl li {
    display: inline-block; text-align: left; margin-top: 5px
    
 }

 .apps a {background-image: url("show-apps-button.png");
     height: 0px; width: 2px; 
     display: inline-block; 
     background-position: center;
      background-repeat: no-repeat;
      margin: 7px 9px 0px 3px}


    

  
  .tl li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 19px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    
    
    

    
    
  }

 img {height: 100px; width: 300px;}

nav {display: block; 
margin-left: 115px; 
margin-right: auto;

width: 1000px; height: 10px;
padding-top: 150px;
text-align: center;}

input[type=search] {text-align: center; padding: 35px;}


.bl { bottom:0; width: 100%; position: fixed;
    list-style-type: none;
    margin: 0px 0px 0px -35px;
    padding: -9px 25px 0px 0px;
    overflow: hidden;
    background-color: rgb(240, 239, 239);
  }

  .bl li {text-align: left;margin-top: 30px; display:inline-block;}

  .bl li a {display: block;
    color: #5f6368;
    text-align: center;
    padding: 0px 44px 20px 10px;
    font-family: Arial, Helvetica, sans-serif; font-size: 13px;
    text-decoration: none;}

    

input[type=text] {padding-left: 15px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 583px;
    background: url("google-mic.jpg") no-repeat scroll 550px 11px;
    background-size: 24px 24px;
 }

    #search {
        
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        -webkit-appearance: textfield;
        -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px;
    }
.submit {height: 36px;
     width: 150px;
     border: none;
     margin:17px 4px;
     padding: 0px 16px;
      box-shadow: 0,0,0,0.1; 
      background-color:rgb(243, 241, 241);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 14px; }